/* Clean CSS */
html, body, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

/* Width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

body, a, button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 202, 202);
    background-color: rgb(37, 37, 37);
}

.main-content {
    margin-left:30%;
    max-width:65%;
}

.light-mode {
    color: rgb(37, 37, 37);
    background-color: rgb(233, 233, 233);
}

.sidebar {
    max-width: 20%;
    position: fixed;
    padding: 7px;
    padding-left: 2%;
    overflow-y:scroll;
    max-height: 100%;
    background-color: rgb(37, 37, 37);
}

button, a {
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    margin-top: 7px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
    text-align: left;
    text-decoration: none;
    display:block;
}

button:hover, a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(245, 245, 245);
}

h1 {
    margin-top: 50px;
    font-size: 50px;
}

h2 {
    margin-top: 70px;
    font-size: 30px;
}

h3 {
    margin-top: 40px;
    font-size: 22px;
}

h4 {
    margin-top: 30px;
    font-size: 18px;
}

h5 {
    margin-top: 30px;
    font-size: 16px;
}

a.h2 {
    font-size: 20px;
}

a.h3 {
    font-size: 18px;
    margin-left: 10%;
}

a.h4 {
    font-size: 16px;
    margin-left: 20%;
}

a.h5 {
    font-size: 16px;
    margin-left: 30%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
}

th, td {
    padding: 7px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    position: sticky;
}

.fort {
    color:rgb(179, 0, 29);
}

.refl {
    color:rgb(41, 125, 41);
}
.will {
    color:rgb(36, 98, 199);
}

.wip {
    color:rgb(235, 177, 54);
}

.avoid {
    color:rgb(255, 0, 43);
}

.tab {
    margin-left: 40px;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .main-content {
      max-width: 70%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .sidebar {
        max-width: 25%;
    }
}

@media screen and (min-width: 1100px) {
    .main-content {
      max-width: 700px; /* The width is 100%, when the viewport is 800px or smaller */
    }
}