/* Clean CSS */
html, body, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html * {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

/* Width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: inherit;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

body {
    background-color: rgb(37, 37, 37);
}

a, button {
    background-color: inherit;
}

body, a, button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 202, 202);
}

.main-content {
    margin-left: 30%;
    width:65%;
    float: left;
    position:fixed;
    height: 100%;
    overflow: auto;
}

.light-mode {
    color: rgb(37, 37, 37);
    background-color: rgb(233, 233, 233);
}

.sidebar {
    float: left;
    width: 20%;
    position:fixed;
    padding: 7px;
    padding-left: 2%;
    overflow-y:scroll;
    max-height: 100%;
    background-color: rgb(37, 37, 37);
}

button {
    text-decoration: none;
    border: none;
}

.nav-link {
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    margin-top: 7px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
    text-align: left;
    text-decoration: none;
    display:block;
}

button:hover, a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(245, 245, 245);
}

h1 {
    margin-top: 50px;
    font-size: 50px;
}

h2 {
    margin-top: 70px;
    font-size: 30px;
}

h3 {
    margin-top: 40px;
    font-size: 22px;
}

h4 {
    margin-top: 30px;
    font-size: 18px;
}

h5 {
    margin-top: 30px;
    font-size: 16px;
}

a.h2 {
    font-size: 20px;
}

a.h3 {
    font-size: 18px;
    margin-left: 10%;
}

a.h4 {
    font-size: 16px;
    margin-left: 20%;
}

a.h5 {
    font-size: 16px;
    margin-left: 30%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
}

th, td {
    padding: 7px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.version-text {
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
    top: 100px;
    position:absolute;
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.fort {
    color:rgb(179, 0, 29);
}

.refl {
    color:rgb(41, 125, 41);
}
.will {
    color:rgb(36, 98, 199);
}

.wip {
    color:rgb(235, 177, 54);
}

.avoid {
    color:rgb(255, 0, 43);
}

.new {
    color:rgb(97, 141, 211);
}

.condition {
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(153, 153, 153);
}

.tab {
    margin-left: 40px;
}

.tooltip {
	position: absolute;
	width: 140px;
	padding: 10px 10px;
	border-radius: 4px;
    font-size: 14px;
	text-align: center;
	color: rgb(202, 202, 202);;
	background-color: rgba(24, 24, 24, 0.9);
	overflow: hidden;
}

.hidden-desktop {
    display: none;
}

#header {
    position:absolute; 
    top:0px; 
    left:0px; 
    right:0px;
    overflow:hidden;
    z-index: 5;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .main-content {
        width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
        overflow-x:auto;
        margin-left: 5%;
        z-index: 1;
    }
    .sidebar {
        width: 85%;
        z-index: 2;
        background-color: rgb(19, 19, 19);
        display: none;
    }

    .hidden-desktop {
        display: block;
    }
}

@media screen and (min-width: 1100px) {
    .main-content {
        /* width: auto; */
        width: 700px; /* The width is 100%, when the viewport is 800px or smaller */
    }
}