@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root,
[data-bs-theme="light"] {
  --form-control-label-focus-color: #316ecf;
}

[data-bs-theme="dark"] {
  --form-control-label-focus-color: #6da7ff;
}

.form-group {
  position: relative;
}

.form-group>,
.form-group .input-group> {
  .form-control~label {
    position: absolute;
    top: 0.45rem;
    left: .8rem;
    padding: 0 .4rem 0 0;
    border-radius: .3rem;
    transition: top .2s ease, left .2s ease, padding .2s ease, transform .2s ease, color .2s ease;
    color: var(--bs-secondary-color);
    transform: scale(1);
    pointer-events: none;
  }

  .form-control:focus~label,
  .form-control.non-empty~label {
    top: -.85rem;
    left: 0;
    padding-left: .4rem;
    transform: scale(.8);
    background-color: var(--bs-form-control-bg);
  }

  .form-control:focus~label {
    color: var(--form-control-label-focus-color);
  }

  .form-control:disabled~label {
    background-color: var(--bs-form-control-disabled-bg);
  }
}

.form-group .input-group>.form-control~label {
  // Bring above input (see bootstrap/scss/forms/_input-group.scss line 25)
  z-index: 6;
}

.was-validated .form-group>.form-control:valid:focus~label,
.form-group>.form-control.is-valid:focus~label,
.was-validated .form-group>.form-control:valid.non-empty~label,
.form-group>.form-control.is-valid.non-empty~label {
  color: var(--bs-success);
}

.was-validated .form-group>.form-control:invalid:focus~label,
.form-group>.form-control.is-invalid:focus~label,
.was-validated .form-group>.form-control:invalid.non-empty~label,
.form-group>.form-control.is-invalid.non-empty~label {
  color: var(--bs-danger);
}

// Removes number pickers
// TODO: Add new ones
input[type=number].form-control::-webkit-outer-spin-button,
input[type=number].form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].form-control {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.character-creator {
  /* Cool, but breaks tab order (and no pure CSS fix it seems!) https://adrianroselli.com/2015/10/html-source-order-vs-css-display-order.html
  @include media-breakpoint-between(xs, sm) {
    .grid>div.attribute-from-fortitude {
      order: 1;
    }

    .grid>div.resistance-points-fortitude {
      order: 2;
    }

    .grid>div.attribute-from-reflex {
      order: 3;
    }

    .grid>div.resistance-points-reflex {
      order: 4;
    }

    .grid>div.attribute-from-will {
      order: 5;
    }

    .grid>div.resistance-points-will {
      order: 6;
    }

    .grid>div.resistance-points~div:not(.resistance-points) {
      order: 7;
    }
  }
  */

  @include media-breakpoint-between(sm, md) {
    .grid>div.attribute-strength {
      order: 1;
    }

    .grid>div.attribute-dexterity {
      order: 2;
    }

    .grid>div.attribute-intelligence {
      order: 3;
    }

    .grid>div.attribute-constitution {
      order: 4;
    }

    .grid>div.attribute-perception {
      order: 5;
    }

    .grid>div.attribute-spirit {
      order: 6;
    }

    .grid>div.resistance-points {
      order: 7;
    }

    .grid>div.resistance-points~div:not(.resistance-points) {
      order: 8;
    }
  }

  .resistance-points-total {
    min-width: 3.3rem;
    flex-grow: .2;
    text-overflow: ellipsis;
  }

  // @include media-breakpoint-up(md) {
  //   .resistance-points-total {
  //     flex-grow: .2;
  //   }
  // }

  // @include media-breakpoint-up(lg) {
  //   .resistance-points-total {
  //     flex-grow: .1;
  //   }
  // }
}
