@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins/breakpoints";

:root,
[data-bs-theme="light"] {
  .character-sheet :global {
    .attribute-resistance-fort,
    .resistance-points-fort {
      --bs-border-color: rgb(255, 190, 190);
    }

    .attribute-resistance-refl,
    .resistance-points-refl {
      --bs-border-color: rgb(160, 255, 160);
    }

    .attribute-resistance-will,
    .resistance-points-will {
      --bs-border-color: rgb(173, 173, 255);
    }
  }
}

[data-bs-theme="dark"] {
  .character-sheet :global {
    .attribute-resistance-fort,
    .resistance-points-fort {
      --bs-border-color: rgb(121, 0, 0);
    }

    .attribute-resistance-refl,
    .resistance-points-refl {
      --bs-border-color: rgb(1, 108, 1);
    }

    .attribute-resistance-will,
    .resistance-points-will {
      --bs-border-color: rgb(0, 0, 168);
    }
  }
}

.character-sheet :global {

  .attribute-modifier {
    flex-grow: 0.5;
    max-width: 3rem;
  }

  .resistance-points-total,
  #max-hp {
    flex-grow: 0.5;
    max-width: 4rem;
  }

  /* Cool, but breaks tab order (and no pure CSS fix it seems!) https://adrianroselli.com/2015/10/html-source-order-vs-css-display-order.html
    @include media-breakpoint-between(xs, sm) {
      .grid>div.attribute-resistance-fort {
        order: 1;
      }

      .grid>div.resistance-points-fort {
        order: 2;
      }

      .grid>div.attribute-resistance-refl {
        order: 3;
      }

      .grid>div.resistance-points-refl {
        order: 4;
      }

      .grid>div.attribute-resistance-will {
        order: 5;
      }

      .grid>div.resistance-points-will {
        order: 6;
      }

      .grid>div.resistance-points~div:not(.resistance-points) {
        order: 7;
      }
    }
    */

  @include media-breakpoint-between(sm, md) {
    .grid>div.attribute-str {
      order: 1;
    }

    .grid>div.attribute-dex {
      order: 2;
    }

    .grid>div.attribute-int {
      order: 3;
    }

    .grid>div.attribute-con {
      order: 4;
    }

    .grid>div.attribute-per {
      order: 5;
    }

    .grid>div.attribute-spi {
      order: 6;
    }

    .grid>div.resistance-points {
      order: 7;
    }

    .grid>div.resistance-points~div:not(.resistance-points) {
      order: 8;
    }
  }

  // @include media-breakpoint-up(md) {
  //   .resistance-points-total {
  //     flex-grow: .2;
  //   }
  // }

  // @include media-breakpoint-up(lg) {
  //   .resistance-points-total {
  //     flex-grow: .1;
  //   }
  // }
}
